# Environments
.env
*.env
.venv
env/
venv

__pycache__/
*.py[cod]
*$py.class

*.egg
*.egg-info/
dist/
build/
.eggs/

*.json
migrations/

logs/
*.log
*.sqlite3
*.db
*.db-journal

.ruff_cache

ssl
staticfiles
media

downloaded_audio
audio_images